.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.jumbotron{
  margin-bottom: 0; 
}
.row.content {
  height: 450px
}
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

footer {
  background-color: #101010;
  color: grey;
  padding: 15px;
  font-size: 20px;
  margin-top: 150px;
}
#submenu:hover #submenu2{
  display: block;
  left: 100%;
  top: 15%;
}

#altaCliente, #modificaCliente, #altaFacturaReparacion, #bajaFacturaReparación, #modificaFacturaReparacion, 
#altaAveria, #altaElectrodomestico, #consultarElectrodomesticos, 
#bajaElectrodomestico, #altaRecambio, #consultarRecambio, #bajaRecambio, 
#altaProveedor, #consultarProveedor, #bajaProveedor, #altaAveria, #modificaAveria, #consultarAveria,
#altaPresupuesto, #modificaPresupuesto, #altaEmpleado, #bajaEmpleado, #modificaEmpleado{
	display: none;
}

.error{
  background-color: yellow;
}

